nodeflate
nobsdcomp
mppe required,no40,no56,stateless
noauth
refuse-eap
persist
nodetach
holdoff 10
maxfail 0
lcp-echo-failure 4
lcp-echo-interval 30
usepeerdns
child-timeout 360
ipcp-accept-remote ipcp-accept-local noipdefault
ktune
default-asyncmap nopcomp noaccomp
novj nobsdcomp nodeflate
lcp-echo-interval 10
lcp-echo-failure 6
unit 0
defaultroute
mtu 1400